*{
    box-sizing: border-box
}
body {
    background-color:rgba(231, 172, 182, 0.384);
    width: 80%;
    Margin: 0 auto;
    font-family: fantasy;
    }
h1 {
    text-align: center;
}
nav {
    background-color: whitesmoke;
    text-align: center;
}
ul li {
    display: inline-block;
    padding: 10 px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    }
section {
    border-radius: 10px;
    width: 35%;
    padding: 10px:
}
footer {
    background-color:rgba(231, 109, 130, 0.384);
    padding: 25px
    margin-top: 2%;
    border-radius: 10px;
}